.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.modernInput {
  display: inline-block;
  width: 80%;
  border: none;
  color: black;
  font-size: 16px;
}

.modernInput:focus {
  outline: none;
}

.modernButton {
  border: none;
  display: inline-block;
  background-color: #f7ca18;
  padding: 12px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

.inputContainer {
  display: flexbox;
}
